name: Build and Test

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
    tags:
      - '**'
  pull_request:
    branches:
      - 'main'
      - 'feature/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: iosSimulatorArm64Test
            os: macos-latest
          - target: jvmTest
            os: ubuntu-latest
          - target: linuxX64Test
            os: ubuntu-latest
          - target: testAndroidHostTest
            os: ubuntu-latest
          - target: wasmJsTest
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Validate Gradle Wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper
        cache-read-only: ${{ github.ref != 'refs/heads/main' }}

    - name: konan cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.konan
        key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}

    - name: Build Library and Run Tests
      run: ./gradlew :core:${{ matrix.target }}

    - name: Build Sample App and Run Tests
      if: matrix.os == 'ubuntu-latest' && matrix.target == 'jvmTest'
      run: ./gradlew :sample:composeApp:assembleDebug :sample:composeApp:testDebugUnitTest

    - name: Build Sample App (iOS)
      if: matrix.os == 'macos-latest'
      run: ./gradlew :sample:composeApp:assembleDebug

    - name: Build Sample App (Wasm)
      if: matrix.target == 'wasmJsTest'
      run: ./gradlew :sample:composeApp:wasmJsBrowserDistribution

    - name: Upload Test Reports
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-report-${{ matrix.target }}
        path: |
          **/build/reports/tests/
